*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
 .navigation{
  height: 70px;
  width: 100%; 
  padding: 20px;
  display: inline-block;
  /* background-color: rgb(226, 235, 235); */
}
nav ul li{
  display: inline-block;
  padding: 10px;
  margin-right: 30px;
}
nav ul{
  float: right;
}
nav ul li a{
text-decoration: none;
font-size: 25px;
font-weight: bold;
color: rgb(117, 115, 106);
background-color: rgb(198, 219, 219);
padding: 10px;
border-radius: 10px;
}
nav ul li a:hover{
  background-color: aquamarine;
  border-radius: 10px;
}
