* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;

  /* background-image: url("image/Food.jfif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

h1 {
  margin-bottom: 25px;
}

.menu-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 220px;
  background: white;
  box-shadow: 0px 3px 8px rgb(94, 91, 91);
  padding-bottom: 15px;
}

.title {
  background: orangered;
  color: black;
  font-weight: bold;
  font-size: 22px;
  padding: 10px;
}

.card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 15px 0;
}

.card p {
  padding: 0 10px;
  text-align: justify;
  font-size: 14px;
}

.card h4 {
  color: orangered;
  margin-top: 10px;
}

button {
  margin-top: 20px;
  background: black;
  border-radius: 5px;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
